name: OpenShift

on:
  push:
    branches-ignore:
    - renovate/**
    - weblate
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04
    name: OpenShift Test
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Setup OpenShift
      uses: manusa/actions-setup-openshift@e59fe3caa18d7cde81e2ce4797e6549a13f7648c # v1.1.5
      with:
        oc version: v3.11.0
        github token: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Project
      run: oc new-project weblate-test
    - name: Create Template
      run: oc create -f template.yml -n weblate-test
permissions:
  contents: read
